table, td{
    padding: 15px;
}
img {
    max-width: 100%;
    height: auto;
}
.primary-btn {
    background: #05143f;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    font-size: 14px;
    margin-top: 5px;
}