<div *ngIf="product" >
    <div class="row">
        <div class="col-md-5">
            <div>
                <h2>PRODUCT: {{product.name | uppercase}}</h2>
                <hr />
            </div>
        </div>
        <div class="col-md-7">
            <div id="buttons">
                <button class="btn btn-primary"  [routerLink]="['/products/edit', product.id]">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-5">
                <table>
                    <tr>
                        <td>Name</td>
                        <td>{{product.name}}</td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>{{product.category}}</td>
                    </tr>
                        <tr>
                            <td>Price</td>
                            <td>{{product.price}}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{product.description}}</td>
                        </tr>
                </table>
            </div>
            <div class="col-md-7">
                <img src="{{product.image}}" class="pimg-responsive" style="max-height: 300px;">
            </div>
    </div>
    <div id="add-shopping-cart">
        <button class="btn btn-success">Add to Cart</button>
        <button class="btn btn-primary" id="back">Continue Shopping</button>
    </div>
</div>