table, td{
    padding: 15px;
}
.btn.btn-primary{
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 40px;
    background-color:rgb(78, 104, 253);
}
.btn.btn-danger{
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn.btn-success{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5%;
}
img {
    padding-left: 30%;
}

#buttons{
    padding-left: 25%;
}

#back{
    background-color: rgb(168, 167, 167);
    border-color:  rgb(179, 178, 178);
    padding-right: 7px;
    padding-left: 7px;
}